p{
  padding: 10px;
}

.main-boxes{

}
.wrapper{
  margin: 20px;
  padding: 20px;
  border: 1px solid white
}

.box-me{
  background-color: #EFD1C6;
  color:white;
}
.box-present{
  background-color: #EFD1C6;
  color:white
}

.title-first{
  font-size: 30px;
  font-family: 'Bellefair', serif;
  color: black;
}
.personal-data{
  font-size: 35px;
  font-family: 'Bellefair', serif;
  color: black;
  text-align: justify;
  padding: 0px 50px 50px 50px;
}
.about-me{
  color: black;
  font-size: 14px;
  line-height: 25px;
  padding: 0 30px 30px 30px;
}
hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
