<div class="ui-g main-boxes">
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="wrapper">BIG BID</div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6 parent-box">
    <div class="wrapper"><p>{{ 'presentation_text' | translate }}</p></div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-chart type="bar" [data]="data3"></p-chart>
  </div>
  <div class="ui-g-6 ui-md-8 ui-lg-8">
    <div class="wrapper">EXPERIENCE</div>
  </div>
  <div class="ui-g-6 ui-md-4 ui-lg-4">
    <div class="wrapper">CV</div>
  </div>
</div>

