p{
  padding: 10px;
}

.main-boxes{

}
.wrapper{
  margin: 20px;
  padding: 20px;
  border: 1px solid white
}

.box-me{
  background-color: #EFD1C6;
  color:white
}
.box-present{
  background-color: #EFD1C6;
  color:white
}
