



<div class="row main-boxes">
  <div class="col-xs-12 col-md-12" style="  padding: 0 !important;">
    <div class=" box-me">
      <div class="row">
        <div class="col-xs-12 col-md-12 title-first">
          LIBRARY
<hr />
        </div>
        <div class="col-xs-12 col-md-6 personal-data">
          06 49 86 45 37<br />
          Paris 75002
        </div>
        <div class="col-xs-12 col-md-6 about-me">
          <p>{{ 'presentation_text' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 parent-box">
    <div class="wrapper box-present">
      <h1>Salva Sanz bla bla</h1>
      <app-tasks [tasks]=""></app-tasks>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="wrapper">
      <app-nice-box [text]="'[ C ] abbreviation for curriculum vitae'" [word]="'CV'"></app-nice-box>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <app-definition [text]="'[ C ] abbreviation for curriculum vitae'" [word]="'CV'"></app-definition>
  </div>
  <div class="col-xs-12 col-md-4">rr
    <mat-icon svgIcon="thumbs-up"></mat-icon>
    <mat-icon>home</mat-icon>
  </div>

</div>
<app-footer></app-footer>
