<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-6"> <p-chart type="doughnut" [data]="data"></p-chart></div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">loren ipsun blba blaloren ipsun blba blaloren ipsun blba blaloren ipsun blba bla</div>
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <ul>
    <li>jd</li>
    <li>nj</li>
  </ul></div>
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <p-lightbox type="content">
      <a class="group" href="#">
        Watch Video
      </a>
      <div style="background-color: #f2f2f2">this is content</div>
    </p-lightbox>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-4"><p-chart type="bar" [data]="data3"></p-chart></div>
</div>

