.container{
  height:100vh;
  background-image: url('../../../assets/img/exemple.jpg');
  background-size: cover;
  width: 100%;
}
.child-container{
  margin-top: 200px;
}
.welcome-title{
  font-size: 3em;
}


@media screen and (max-width: 600px) {
  .child-container {
    margin-top: 50px;
  }
}

