<!--The content below is only a placeholder and can be replaced.-->
<div id="myTopnav" [ngClass]="isActiveBurger ? 'topnav responsive' : 'topnav'">
   <a href="javascript:void(0);" class="icon" (click)="switchBurger()">&#9776;</a>
  <a *ngIf="isActiveBurger" routerLink="/me" routerLinkActive="active" (click)="switchBurger()">{{ 'menu_title_presentation' | translate }}</a>
  <a *ngIf="isActiveBurger" routerLink="/parcours" routerLinkActive="active" (click)="switchBurger()">{{ 'menu_title_parcours' | translate }}</a>
  <a *ngIf="isActiveBurger" routerLink="/projects" routerLinkActive="active" (click)="switchBurger()">{{ 'menu_title_projects' | translate }}</a>
  <span *ngIf="isActiveBurger">
    <a *ngFor="let ln of configurationService.avaliableLang" [class.selected]="ln == selectedLang"
       (click)="changeLang(ln)">
    {{ln}}
  </a>
  </span>

 
</div>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>


