<!--The content below is only a placeholder and can be replaced.-->
<div id="myTopnav" [ngClass]="isActiveBurger ? 'topnav responsive' : 'topnav'">
   <a href="javascript:void(0);" class="icon" (click)="switchBurger()">&#9776;</a>
  <a *ngIf="isActiveBurger" routerLink="/me" routerLinkActive="active" (click)="switchBurger()">{{ 'menu_title_presentation' | translate }}</a>
  <a *ngIf="isActiveBurger" routerLink="/parcours" routerLinkActive="active" (click)="switchBurger()">{{ 'menu_title_parcours' | translate }}</a>
  <a *ngIf="isActiveBurger" routerLink="/projects" routerLinkActive="active" (click)="switchBurger()">{{ 'menu_title_projects' | translate }}</a>
  <span *ngIf="isActiveBurger">
    <a *ngFor="let ln of configurationService.avaliableLang" [class.selected]="ln == selectedLang"
       (click)="changeLang(ln)">
    {{ln}}
  </a>
  </span>


</div>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>
<div class="ui-g contact-me">
  <div class="ui-g-12 ui-md-12 ui-lg-12 mail">
    <p>CONTACT ME</p>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <div class="wrapper box-bottom"><p>AAA</p></div>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <div class="wrapper box-bottom"><app-counter *ngIf="incrementExp" [max]="14" [libelle]="'proj reussis'" ></app-counter></div>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <div class="wrapper box-bottom" in-viewport
         [inViewportOptions]="{ partial: false }"
         (inViewportAction)="pepa($event)"><app-counter *ngIf="incrementExp" [max]="10" [libelle]="'proj reussis'"></app-counter></div>
  </div>
</div>


