
.definition-wrapper{
  border: 1px solid black;
  margin: 20px;
  padding: 5px;
}

.inner-wrapper{
  border: 2px solid black;
  color: black;
  padding: 50px;
}

.word{
  font-size: 40px;
  font-family: 'Bellefair', serif;
}
.def{
  font-size: 20px;
  font-family: 'Bellefair', serif;
}
