.wrapper{
  padding: 15px;
  background-color: #EFD1C6;
}
a{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a.group{
	color:white;
	font-size: 25px;
	text-decoration: none;
}


.date-box{
  background: #fff;
  background: linear-gradient(180deg, transparent, red, transparent);
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: 2px auto;
}
.date-box p{
  background-color: black;
  text-align: center
}
