app-counter{
  position: relative;
}
.counter{
  position: absolute;
  left: 0;
  top:0;
  font-size: 90px;
  color:black;
}
.libelle{
  position: absolute;
  top:50px;
  font-size: 30px;
  color:white;
}
