app-counter{
  position: relative;
}
.counter{
  position: absolute;
  margin-left: 50px;
  font-size: 90px;
  color:greenyellow;
}
.libelle{
  position: absolute;
  top:50px;
  font-size: 30px;
  color:white;
}
